@import url('https://fonts.googleapis.com/css2?family=Baloo+2:wght@500&display=swap');

html{
    width: 100%;
}
body {
   height: 100%;
    display: flex;
    justify-content: center;
    align-items: center;
    font-family: 'Baloo 2', cursive;
    background: linear-gradient(45deg, rgb(233,232,228),rgb(244,243,236));
}

.content{
   position: relative;
}


.no-padding{
    margin:0!important;
    padding:0!important;
}

.container {
    width: 350px;
    height: 100%;
    border-radius: 20px;
    margin-top: 50px;
    background-color: #212932;
    overflow: hidden;
    box-shadow: 0px 20px 50px 0px rgba(0,0,0,0.2);
    z-index: 1;
   position: relative;
}






.own-fund{
    background-color: #FEFF00;
    color: black;
    padding: 10px 30px;
    font-weight: 500;
}


.bottom{
    position: relative;
    background-color: black;
    z-index: 5;
    padding: 2px 10px;
    margin-top: 38vh;
}
.wallet-text{
    color: #FEFF00;
    padding: 10px 30px;
}
.balance-text{
    color: #00D3FF;
    padding: 10px 30px;
}
.field{
    background-color: #FEFF00;
    border: 1px solid #FEFF00;
    color: #5A5A60;
    font-weight: 500;
    width: 100%;
    text-align: left;
    position: relative;

}
.select-text{
    color: black;
}
.select-icon{
    width: 30px;
    margin-left: 60px;
}

.eye{
    position: absolute;
    top: 215px;
    left: 265px;
    width: 30px;
}
.cal-btn{
    background-color: #FEFF00;
    border: 1px solid #FEFF00;
    color: black;
    font-weight: 700;
    padding: 5px 25px;
    border-radius: 10px;
    margin: 0 auto;
    display: block;
    letter-spacing: 1px;

}


@media (min-width: 280px) and (max-width:285px){
.eye {
    position: absolute;
    top: 237px;
    left: 204px;
    width: 30px;
}
}

@media (min-width: 307px) and (max-width:330px){
.eye {
    position: absolute;
    top: 215px;
    left: 235px;
    width: 30px;
}
}